/*
Project: cone.cc Webblog CSS
Description: Simple css style.
Author: cone
Email: conechan@gmail.com

Based on HTML5 Boilerplate and normalize.css.
*/

/*
#0092e0
#0092e0
*/

/* @site-general
-------------------------------------------------------------- */

body {
	background-color: #fff;
	font-size: 16px;
	font-weight: normal;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	color: #5f5f5f;
}

a:link, a:visited {
	color: #0092e0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

a:hover, a:focus, a:active {
	color: #005f92;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

a {
	text-decoration: none;
}

hr {
	color: #5f5f5f;
	margin: 36px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
    margin: 24px 0px;
}

h1 {
	font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
}

ol, ul {
	margin: 0 0 1.625em 1.5em;
	padding: 0px;
}

ol{
	list-style-type: decimal;
}

ul {
  list-style: square outside none;
 }

 blockquote {
 	border-left: 4px solid #515151;
 	background-color: #f6f6f6;
  margin: 24px;
  padding: 8px 24px;
	color: #777;
	font-style: italic;
	font-weight: 100;
 }

 code {
 	background-color: #f6f6f6;
 	font-size: 14px;
 	padding: 4px;
 	border: 1px solid #ccc;
 	border-radius: 3px;
 }

 pre {
 	border: 1px solid #ccc;
 	padding: 6px 10px;
 	background-color: #f6f6f6;
 	border-radius: 3px;
}

pre code {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.page-title {
	color: #515151;
	margin: 0px;
	font-size: 32px;
	font-weight: bold;
}

/* @site-wrapper
-------------------------------------------------------------- */

#site-wrapper {
	margin: 30px auto;
	width: 690px;
	padding: 30px;
}

/* @site-header
-------------------------------------------------------------- */

#site-header {
	margin: 0px auto;
	padding: 0px 0px 20px 0px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

#site-banner {
	text-align: left;
	float: left;
}

#site-banner h1 {
	margin: 0px;
	font-size: 50px;
	letter-spacing: 5px;
	font-weight: bold;
	line-height: 48px;
}

#site-nav {
	float: right;
}

#site-nav ul {
	display: block;
	padding: 0px;
	margin: 0px;
}

#site-nav li {
	margin: 0px 0px 0px 10px;
	display: block;
	float: right;
}

#site-nav a:link,
#site-nav a:visited {
	display: block;
	margin: 0px;
	padding: 0 18px;
	font-size: 14px;
	font-weight: bold;
  line-height: 48px;
	color: #4e4e4e;
	text-transform: uppercase;
	background: #f6f6f6;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#site-nav a:hover,
#site-nav a:focus,
#site-nav a:active {
	background: #0092e0;
	color: #fff;
}


/* @site-content
-------------------------------------------------------------- */

#site-content {
	margin: 0px auto;
	padding: 0px;
}

article.post {
	border-bottom: 1px solid #eee;
	margin: 0px auto;
	text-align: left;
	padding-top: 36px;
}

article.post header small {
	display: block;
	margin: 16px 0px;
	color: #b4b4b4;
	font-size: 14px;
	letter-spacing: 1px;
}

article.post small.post-category {
	color: #cfcfcf;
	font-size: 14px;
	letter-spacing: 1px;
}

article.post small.post-category a {
	color: #f2006a;
	text-decoration: none;
	border-bottom: 1px dotted;
}

article.post small.post-category a:hover {
	color: #9d0045;
	text-decoration: none;
	border-bottom: 1px solid;
}

article.post div.post-meta {
	margin: 15px auto;
	padding: 15px 0px;
	border-top: 1px dotted #eee;
	border-bottom: 1px dotted #eee;
}

article.post a{
	color: #0092e0;
	text-decoration: none;
}

article.post div.post-entry p {
	margin: 24px 0px;
	color: #515151;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
}

div.page-navigator {
	margin: 0px;
	overflow: hidden;
}

/*div.page-navigator:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
*/
div.page-navigator span {
	margin: 20px 0px;
	text-align: center;
}

div.page-navigator span a {
	display: block;
	margin: 0px;
	padding: 0 18px;
	font-size: 14px;
	font-weight: bold;
  line-height: 48px;
	color: #4e4e4e;
	background: #f6f6f6;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

div.page-navigator span a:hover {
	background: #0092e0;
	color: #fff;
}

div.page-navigator span.prev {
	float: left;
}

div.page-navigator span.next {
	float: right;
	margin-left: 10px;
}

/* @post-list
-------------------------------------------------------------- */
#post-list article {
	border-bottom: 1px dotted #eee;
	padding: 36px 0px 36px 0px;
	text-align: left;
}

#post-list article header h1 {
	margin: 0px;
	font-size: 24px;
	font-weight: bold;
}

#post-list article header h1 a {
	color: #515151;
	text-decoration: none;
}

#post-list article header h1 a:hover {
	color: #005f92;
}

#post-list article header small {
	display: block;
	margin: 10px 0px;
	color: #b4b4b4;
	font-size: 12px;
	letter-spacing: 1px;
}

#post-list article div.entry p {
	margin: 16px 0px;
	color: #515151;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
}

#post-list article div.entry small {
	margin: 5px 0px;
	color: #cfcfcf;
	font-size: 14px;
	letter-spacing: 1px;
}

#post-list article div.entry a {
	color: #f2006a;
	border-bottom: 1px dotted;
}

#post-list article div.entry a:hover {
	color: #9d0045;
	border-bottom: 1px solid;
}


/* @site-footer
-------------------------------------------------------------- */

#site-footer {
	margin: 0px auto;
	padding: 0px;
	width: 690px;
}

#site-info {
	padding: 20px 0px;
	text-align: center;
}

#site-info p, #site-info a{
	margin: 0px;
	font-size: 14px;
	color: #e9e9e9;
}

#site-info a:link,
div.stie-info a:visited {
	border-bottom: 1px dotted;
}

#site-info a:hover,
#site-info a:focus,
#site-info a:active {
	border-bottom: 1px solid;
}

/* @page
-------------------------------------------------------------- */
div .page {
	margin: 36px 0;
}

.page h2 {
	display: block;
	color: #4e4e4e;
	font-size: 20px;
	font-weight: normal;
	background: #f6f6f6;
	text-align: center;
	line-height: 48px;
	border-radius: 8px;
}

.page ul {
	list-style: none;
	margin: 0;
}

.page li {
	list-style: none;
	padding: 5px 3px;
	margin: 0;
	border-bottom: 1px dotted #eee;
	line-height: 30px;
}

.page li time {
	float: right;
	color: #b4b4b4;
}

.page-categories a {
	font-size: 18px;
	color: #f2006a;
	padding: 1px 0px;
	margin-right: 16px;
	border-bottom: dotted 1px;
}

.page-categories a:hover {
	border-bottom: 1px solid;
}

.page-categories a span {
	font-size: 12px;
	color: #fff;
	background-color: #f2006a;
	border-radius: 10px;
	padding: 1px 5px;
	vertical-align: middle;
	position: relative;
	top: -2px;
}