---
layout: blog
title: 随笔写
permalink: /archive/
---
<div id="site-main-title">
  <h1>随笔<span>写</span></h1>
</div>
<div id="site-archive">
  <ul>
  {% for post in site.posts %}
    {% capture y %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year != y %}
      {% assign year = y %}
      <div class="site-archive-year">
        <div class="site-archive-year-before site-hr-before"></div>
        <div class="site-archive-year-content">{{ y }}</div>
        <div class="site-archive-year-after site-hr-after"></div>
      </div>
    {% endif %}
    <li>
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y年%m月%d日" }}</time>
    </li>
  {% endfor %}
  </ul>
</div>