---
layout: blog
title: 随笔写
permalink: /archive/
---
<!-- main title start -->
<h1 class="main-title trans">随笔<span class="circle trans">写</span></h1>
<!-- main title end -->
<!-- archive list start -->
<div class="archive">
  <ul>
  {% for post in site.posts %}
    {% capture y %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year != y %}
      {% assign year = y %}
      <h2 class="archive-year">{{ y }}</h2>
    {% endif %}
    <li>
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y年%m月%d日" }}</time>
    </li>
  {% endfor %}
  </ul>
</div>
<!-- archive list end-->