---
layout: page
title: Categories
permalink: /categories/
---
<div class="page-categories">
{% for cat in site.categories %}
	<a href="#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} <span>{{ cat[1]size }}</span></a>
{% endfor %}
</div>

<ul>
{% for cat in site.categories %}
	<h2 id="{{ cat[0] }}">{{ cat[0] }}</h2>
	{% for post in cat[1] %}
		<li>
			<time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y年%m月%d日" }}</time>
			<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		</li>
	{% endfor %}
{% endfor %}
</ul>