---
title: Home
layout: default
permalink: /
---
<div id="post-list">
	{% for post in paginator.posts %}
	<article class="post">
		<header class="post">
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<small><time>{{ post.date | date_to_string }}</time></small>
		</header>

		<div class="entry">
			<p>{{ post.description }}</p>
			<small><a href="{{ post.url }}">read more</a></small>
		</div>
	</article>
	{% endfor %}
</div>

<div id="site-paginator">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href="/">&larr; 上一页</a>
		{% else %}
			<a href="/page{{ paginator.previous_page }}">&larr; 上一页</a>
		{% endif %}
	{% endif %}
	{% if paginator.next_page %}
		<a href="/page{{ paginator.next_page }}">下一页 &rarr;</a>
	{% endif %}
</div>