<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }} | {{site.title }}</title>
</head>
<body>
	<header>
		<h1>{{ site.title }}</h1>
	</header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/categories/">Categories</a></li>
			<li><a href="/tags/">Tags</a></li>
			<li><a href="/archive/">Archive</a></li>
			<li><a href="/about/">About</a></li>
		</ul>
	</nav>
	<div>
		{{ content }}
	</div>
	<footer>
		<p>balabala...</p>
	</footer>
</body>
</html>