---
layout: blog
---

<article class="post-container">
	<header>
		<h1 class="post-title">{{ page.title }}</h1>
		<small class="post-date">{{ page.date | date: "%Y年%m月%d日" }}</small>
	</header>

	<div class="post-content">{{ content }}</div>

  <div class="post-nav clearfix">
    {% if page.previous %}
		<a class="circle prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;</a>
    {% endif %}
    <hr>
    {% if page.next %}
		<a class="circle next" href="{{ page.next.url }}" title="{{ page.next.title }}">&rarr;</a>
    {% endif %}
  </div>
  {% include comments.html %}
</article>