---
layout: blog
---
<!-- post start -->
<article class="post-container">
  <!-- post header start -->
	<header>
		<h1 class="post-title">{{ page.title }}</h1>
		<small class="post-date">{{ page.date | date: "%Y年%m月%d日" }}</small>
	</header>
  <!-- post header end -->
  <!-- post content start -->
	<div class="post-content">{{ content }}</div>
  <!-- post content end -->
  <!-- post navigator start -->
  <div class="post-nav clearfix">
    {% if page.previous %}
		<a class="circle prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;</a>
    {% endif %}
    <hr>
    {% if page.next %}
		<a class="circle next" href="{{ page.next.url }}" title="{{ page.next.title }}">&rarr;</a>
    {% endif %}
  </div>
  <!-- post navigator end -->
  <!-- post comments start -->
  {% include comments.html %}
  <!-- post comments end -->
</article>
<!-- post end -->